{{!-- {{#with this}}
<li>
    <img src="{{flags.svg}}" alt="" width="80">
    <span class="country-value">{{name.official}}</span>
</li>
<li class="country-item">Capital:
    <span class="country-value">{{capital}}</span>
</li>
<li class="country-item">Population:
    <span class="country-value">{{population}}</span>
</li>
<li class="country-item">Languages:
    <span class="country-value">{{#each languages}}
        {{#if @last}} {{@index}}
        {{else}} {{this}},
        {{/if}}
        {{/each}}
    </span>
</li>
{{/with}} --}}